:root {
    /* margins & paddings */
    --page-margin: 0px 190px 0px 190px;
    --mobile-page-margin: 0px 30px 0px 30px;
    --border-radius: 5px;

    /* colors */
    --contentArea-background: white;
    --navbar-background: #292929;
    --dark-text-color: #202020;
    --white-text-color: white;
    --secondary-text-color: #5d5d5d;
    --content-color: #484848;
    --primary-color: #E9194B;
    --grayish-background: #eeeeee;

    /* fonts */
    --content-font-size: 18px;
    --content-font-weight: 300;
    /* title */
    --title-font-size: 23px;
}


@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Roboto-Regular, sans-serif;
    overflow: hidden;
}
body {
    display: grid;
    grid-template-rows: 70px auto;
    min-width: 400px;
}


/* -- BASE.html */
.navbar {
    display: grid;
    align-items: center;
    grid-template-columns: 100fr min-content;
    padding: var(--page-margin);
    font-weight: var(--content-font-weight);
    background-color: var(--navbar-background);
}
.logo {
    width: 30px;
    height: 30px;
}
.linkBtn {
    font-size: 14px;
    text-decoration: none;
    width: max-content;
    font-family: Roboto-Light, sans-serif;
    color: darkgray;
    transition: 0.3s ease;
    cursor: pointer;
    border-radius: var(--border-radius);
}
.linkBtn:hover {
    color: lightgray;
    transition: 0.3s ease;
}
.selectedLinkBtn {
    font-family: Roboto-Regular, sans-serif;
    color: var(--white-text-color);
}
.selectedLinkBtn:hover {
    color: var(--white-text-color);
}

.contentArea {
    height: 100%;
    overflow-x: hidden;
    background-color: var(--contentArea-background);
}
.linkText {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}
.linkText:hover {
    text-decoration: underline;
}

.footer {
    height: max-content;
    background-color: var(--navbar-background);
    padding: var(--page-margin);
    padding-top: 50px;
    padding-bottom: 50px;
}
.footerContent {
    font-family: Roboto-Light, serif;
    color: var(--white-text-color);
    font-weight: normal;
    font-size: 15px;
}


/* -- INDEX.html */
.introduction {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("/static/images/introduction_bg.jpg");
    display: grid;
    align-items: center;
    min-height: min-content;
}
.introLayout {
    display: grid;
    margin: var(--page-margin);
}
.introTrademark {
    font-weight: normal;
    font-size: 60px;
    color: white;
    line-height: 1.0
}
.introParagraph {
    color: var(--white-text-color);
    font-size: var(--content-font-size);
    font-family: Roboto-Light, sans-serif;
    margin-top: -20px;
    width: 100fr;
    max-width: 110vh;
}
.moreBtn {
    height: 45px;
    width: min-content;
    border-radius: var(--border-radius);
    background-color: white;
    font-size: 17px;
    border: 2px solid transparent;
    padding: 0px 35px 0px 35px;
    justify-self: center;
    align-content: center;
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.2s ease;
}
.moreBtn:hover {
    border: 2px solid var(--primary-color);
    text-decoration: underline;
    transition: 0.2s ease;
}
.introduction div .moreBtn {
    margin-top: 70px;
}

/* content area container */
.content {
    margin: var(--page-margin);
    margin-top: 170px;
    margin-bottom: 170px;
    background-color: var(--contentArea-background);
}

/* section title */
.sectionTitle {
    font-size: var(--title-font-size);
    font-weight: normal;
    font-family: Roboto-Regular, sans-serif;
    margin-bottom: 20px;
}

/* news notice message */
.noNewsNotice {
    border-radius: var(--border-radius);
    height: 60px;
    background-color: white;
    border: 2px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: normal;
    color: var(--secondary-text-color);
}

.ourMissionContainer {
    display: grid;
    gap: 40px;
    max-height: 500px;
    grid-template-columns: auto min-content;
}
.ourMissionImage {
    width: 400px;
    border-radius: var(--border-radius);
}
.ourMissionParagraph {
    font-size: var(--content-font-size);
    color: var(--content-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    font-family: Roboto-Regular, sans-serif;
}

.membersContainer {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    margin-top: 70px;
    border-bottom: 1px solid lightgray;
}
.memberItem {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;
    gap: 15px;
}

.newsContainer {
    display: grid;
    margin-top: 90px;
}
.newsLayout {
    display: grid;
    grid-template-columns: 100fr 100fr;
    gap: 20px;
}
.postContainer {
    border-radius: var(--border-radius);
    display: inline-grid;
    grid-template-rows: min-content auto;
    padding: 30px;
    height: max-content;
    width: 100fr;
    border: 2px solid transparent;
    transition: 0.2s ease;
}
.postTitle {
    font-size: 23px;
    font-weight: normal;
    font-family: Roboto-Bold, sans-serif;
    margin: 0px;
}
.postDate {
    font-size: 15px;
    font-family: Roboto-Regular, sans-serif;
    font-weight: lighter;
    color: var(--secondary-text-color);
    margin: 10px 0px 0px 0px;
}
.postBody {
    font-size: var(--content-font-size);
    color: #202020;
    font-weight: normal;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.5;
    overflow: hidden;
    white-space: pre-wrap;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}
.postContainer .moreBtn {
    color: white;
    background-color: var(--primary-color);
    justify-self: left;
    margin: 0px;
}

/* MEDIA_QUERIES */
@media screen and (max-width: 1050px) {

    /* BASE.html */
    .navbar {
        padding: 0px 30px 0px 30px;
    }

    /* INDEX.html */
    .introduction {
        width: 100fr;
    }
    .introTrademark {
        font-size: 40px;
    }
    .introParagraph {
        color: var(--white-text-color);
        font-weight: var(--content-font-weight);
        font-size: var(--content-font-size);
        margin-top: 0px;
        width: fit-content;
    }
    .ourMissionContainer {
        grid-template-rows: min-content auto;
        grid-template-columns: auto;
        max-height: none;
    }
    .ourMissionImage {
        width: 100%;
    }

    .postContainer {
        height: max-content;
        background-color: var(--contentArea-background);
        border-radius: 0px;
    }

    .newsLayout {
        display: grid;
        grid-template-columns: auto;
        background-color: lightgray;
        gap: 1px;
    }
}

@media screen and (max-width: 700px) {

    /* BASE.html */
    .trademark {
        display: none;
    }
    .linkBtnLayout {
        gap: 10px;
    }
    .footer{
        justify-content: center;
        padding: var(--mobile-page-margin);
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footerContent {
        text-align: center;
    }

    /* INDEX.html */
    .introLayout {
        margin: 0px;
    }
    .introTrademark {
        padding: 0px 40px 0px 40px;
    }
    .introParagraph {
        font-size: 18px;
        padding: 0px 40px 0px 40px;
    }

    .content {
        margin: var(--mobile-page-margin);
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .titleLayoutConfig {
        margin-bottom: 0px;
    }
    .postContainer {
        padding: 40px 0px 30px 0px;
        border-radius: 0px;
    }
}
