<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<header class="navbar">
    <!-- trademark -->
    <div style="display: flex; align-items: center; gap: 10px">
        <img class="logo" src="static/images/logo.png">
        <h5 class="trademark" style="
        text-wrap: nowrap;
        color: var(--white-text-color);
        font-weight: var(--content-font-weight)"
        >{{ORGANIZATION_NAME}}</h5>
    </div>

    <!-- links -->
    <div style="display: flex; gap: 30px">
        <a href="/" class="linkBtn" id="homeBtn">Home</a>
        <a href="/articles" class="linkBtn" id="newsBtn">News</a>
        <a href="/about" class="linkBtn" id="aboutBtn">About</a>
    </div>
</header>

<main class="contentArea">
    {% block content %}
    <!-- page content -->
    {% endblock %}

    <footer class="footer">
        <p class="footerContent">
            P.O BOX 042 <br>
            PONGOLA <br>
            3170 <br>
            Email: masiqhakazewomenorganisation@gmail.com <br>
            Cell: 078 608 4054 <br>
        </p>
    </footer>
</main>


<script>
    document.addEventListener("DOMContentLoaded", function (){
        if (window.location.pathname === "/") {
            document.getElementById("homeBtn").classList.add("selectedLinkBtn");
        } else if (window.location.pathname === "/articles") {
            document.getElementById("newsBtn").classList.add("selectedLinkBtn");
        } else if (window.location.pathname === "/about") {
            document.getElementById("aboutBtn").classList.add("selectedLinkBtn");
        }
    });
</script>
</body>
</html>
