{% extends "base.html" %}

{% block content %}

<!-- TITLE -->
<title>MWO - {{title}}</title>

<style>
    .content {
        margin-top: 50px;
    }
    .postContainer {
        width: 100fr;
        height: 100fr;
    }
    .postContainer:hover {
        border: 2px solid var(--primary-color);
        cursor: pointer;
        transition: 0.2s ease;
        .postTitle {
            text-decoration: underline;
            color: var(--primary-color);
        }
    }
    .postContainer:active {
        opacity: 0.5;
        transition: 0.1s ease;
    }
    .postTitle {
        overflow: hidden;
        white-space: pre-wrap;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-weight: normal;
    }

    @media screen and (max-width: 700px) {
        .content {
            margin: 0px;
        }
        .postContainer {
            padding: 40px;
            border-radius: 0px;
            background-color: var(--contentArea-background)
        }
        .newsLayout {
            gap: 2px;
            background-color: lightgray;
        }

    }
</style>

<!-- CONTENT -->
<div class="content">
    {% if NEWS is not none()  %}
        <div class="newsLayout">
            {% for POST in NEWS %}
                <div class="postContainer" id="{{POST.title}}" style="max-height: none;">
                    <a href="/article/{{POST.title}}" style="text-decoration: none; color: inherit">
                        <h5 class="postTitle">{{POST.title}}</h5>
                        <h5 class="postDate">{{POST.date}}</h5>
                        <p class="postBody">{{POST.body}}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h5 class="noNewsNotice">Published articles will show here...</h5>
    {% endif %}
</div>
{% endblock %}
