{% extends "base.html" %}

{% block content %}

<!-- TITLE -->
<title>MWO - {{title}}</title>

<style>
    .postContainer:hover {
        border: 2px solid var(--primary-color);
        cursor: pointer;
        transition: 0.2s ease;
    }
    .postContainer:active {
        opacity: 0.5;
        transition: 0.1s ease;
    }
</style>

<!-- CONTENT -->
<div class="content" style="margin-top: 40px">
    {% if NEWS is not none()  %}
        <div class="newsLayout">
            {% for POST in NEWS %}
                <a href="/article/{{POST.title}}" style="text-decoration: none; color: inherit">
                    <div class="postContainer" id="{{POST.title}}" style="max-height: none">
                        <h5 class="postTitle">{{POST.title}}</h5>
                        <h5 class="postDate">{{POST.date}}</h5>
                        <p class="postBody">{{POST.body}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <h5 class="noNewsNotice">Published articles will show here...</h5>
    {% endif %}
</div>
{% endblock %}
